.toggel-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggel-button:focus{
    outline: none;
}

.toggel_button_line {
    width: 100%;
    height: 2px;
    background-color: white;
}

